body, html, main, section {
    height: 100%;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.parallax {
    background-image: url('../img/82.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 header {
    display: flex;
    position: fixed;
    top: .05%;
    height: auto;
 }

 header h1 {
 	  color: black;
    font-size: 2.75em;
    padding-left: 2%;
 }

 header h1 a {
 	text-decoration: none;
  color: black;
}
 
 a:visited {
    color: black;
 }

 a:hover {
    text-decoration: underline;
 }

 #quickbooks {
 	background: hsla(0, 0%, 100%, 0.8);
 	position: absolute;
 	top: 15%;
 	padding-left: 5%;
 }

 #accounting {
 	position: absolute;
 	top: 15%;
 	padding-left: 50%
 }

 #financial {
 	background: hsla(0, 0%, 100%, 0.8);
 	position: absolute;
 	top: 40%;
 	padding-left: 5%;
 }

 #budget {
 	position: absolute;
 	top: 40%;
 	padding-left: 50%
 }

 #accounts {
 	background: hsla(0, 0%, 100%, 0.8);
 	position: absolute;
 	top: 65%;
 	padding-left: 5%;
 }

 #payroll {
 	position: absolute;
 	top: 65%;
 	padding-left: 50%
 }

 #quickbooks, #accounting, #financial, #budget, #accounts, #payroll, li {
  font-size: 1.10em;
 }

 #services1, #services2, #services3 {
  display: flex;
 }

 footer h5 {
    margin: 0 auto;
    text-align: center;
}

footer a {
    text-decoration: none;
}
 

 @media screen and (min-width: 1024px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


@media screen and (max-width: 768px) {

header {
  font-size: .85em;
}

 #quickbooks {
  background: hsla(0, 0%, 100%, 0.8);
  font-size: .90em;
  position: absolute;
  top: 25%;
  padding-left: 5%;
  width: 100%;
 }

 #accounting {
  background: hsla(0, 0%, 100%, 0.8);
  font-size:.90em;
  position: absolute;
  top: 55%;
  padding-left: 5%;
  width: 100%
 }

 #financial {
  background: hsla(0, 0%, 100%, 0.8);
  font-size: .90em;
  position: absolute;
  top: 85%;
  padding-left: 5%;
  width: 100%;
 }

 #budget {
  background: hsla(0, 0%, 100%, 0.8);
  font-size: .90em;
  position: absolute;
  top: 112%;
  padding-left: 5%;
  width: 100%;
 }

 #accounts {
  background: hsla(0, 0%, 100%, 0.8);
  font-size: .90em;
  top: 136%;
  padding-left: 5%;
  width: 100%;
 }

 #payroll {
  background: hsla(0, 0%, 100%, 0.8);
  font-size: .90em;
  top: 166%;
  padding-left: 5%;
  width: 100%;
 }
 
 footer {
  position: absolute;
  top: 190%;
 }
}
