body, html, main, section {
    height: 100%;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    background-image: url('../img/82.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 header h1 {
 	color: black;
    font-size: 2.75em;
    padding-left: 2%;
 }

 header h1 a {
 	text-decoration: none;
 }
